.container{    
    background-color: #3f51b5;
    padding: 20px 50px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 10px;
    
}

.copyright{
   color: #fff;
   text-align: center;
}

