<h1 *ngIf = '!isChange' mat-dialog-title>Cadastrar</h1>
<h1 *ngIf = 'isChange' mat-dialog-title>Editar Cadastro</h1>
<div mat-dialog-content> 
  <mat-form-field>
    <mat-label>Matricular</mat-label>
    <input matInput [(ngModel)]="data.matricula">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button *ngIf = '!isChange' [mat-dialog-close]="data" cdkFocusInitial>Add</button>
  <button mat-button *ngIf = 'isChange'[mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>
